html {
  font-size: 62.5%;
}

.container {
  width: 95%;
  margin: 0 auto;
}

h1 {
  padding-top: 5rem;
  margin-left: 3rem;
  margin-bottom: 10rem;
}

.leaderboard-settings {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: flex-start;
}

.scores {
  border: 0.1rem solid #000;
  padding: 0.5rem;
}

.score {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.score p {
  font-size: 2rem;
  margin: 0.5rem 0 0 0;
  border-right: 0.1rem solid #000;
  padding-right: 1rem;
}

.score p:last-of-type {
  border: none;
}

.lead-score-heading {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.refresh {
  display: block;
  width: 8rem;
  height: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.submit {
  width: 7rem;
  height: 3rem;
  text-align: center;
}
